@import 'tailwindcss';

:root {
  --vh: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #232323;
  font-family: 'Noto Sans KR', sans-serif;

  font-weight: 400;
  color: white;
}
